@charset "UTF-8";
/* CSS Document */

div.legal.clearfix {
    background: none;
}

header.banner .nav-primary.nav-right .logo-ubuntu {
            background-image: url({{ site.baseurl }}/enjade-logo.svg);
        }

        .logo-ubuntu {
            background-image: url({{ site.baseurl }}/enjade-logo.svg);
        }
