---
layout: insights-hp
title: Home
permalink: /insights/
---
<div class="row">
    <h2>Latest insight</h2>
    {% for post in site.categories['insight'] limit:1 %}
    <div class="col-12">
        <h4>{{ post.title }}</h4>
        <h6>Written by: {{ post.author }}, {{ post.date | date: "%-d %b %y" }}</h6>
        <p>{{ post.excerpt }}</p>
        <p><a href = "{{ site.baseurl }}{{ post.url }}">Read more &rsaquo;</a></p>
    </div>
    {% endfor %}
</div>
<hr>
<div class="row">
    <h2>Core insights</h2>
    {% for post in site.categories['core'] limit:2 %}
    <div class="col-6">
        <h4>{{ post.title }}</h4>
        <h6>Written by: {{ post.author }}, {{ post.date | date: "%-d %b %y" }}</h6>
        <p>{{ post.excerpt }}</p>
        <p><a href = "{{ site.baseurl }}{{ post.url }}">Read more &rsaquo;</a></p>
    </div>
    {% endfor %}
</div>
<hr>
<div class="row">
    <h2>Pure insights</h2>
    {% for post in site.categories['pure'] limit:2 %}
    <div class="col-6">
        <h4>{{ post.title }}</h4>
        <h6>Written by: {{ post.author }}, {{ post.date | date: "%-d %b %y" }}</h6>
        <p>{{ post.excerpt }}</p>
        <p><a href = "{{ site.baseurl }}{{ post.url }}">Read more &rsaquo;</a></p>
    </div>
    {% endfor %}
</div>
<hr>
<div class="row">
    <h2>Design insights</h2>
    {% for post in site.categories['design'] limit:2 %}
    <div class="col-6">
        <h4>{{ post.title }}</h4>
        <h6>Written by: {{ post.author }}, {{ post.date | date: "%-d %b %y" }}</h6>
        <p>{{ post.excerpt }}</p>
        <p><a href = "{{ site.baseurl }}{{ post.url }}">Read more &rsaquo;</a></p>
    </div>
    {% endfor %}
</div>
