---
layout: insights-hp
title: Home
permalink: /insights/
---
<div class="row">
	<div class = "col">
    <h1 style = "font-weight: bold;" class = "allcaps">Latest insight</h1>
    <hr>
    {% for post in site.categories['insight'] limit:1 %}
    <div class="col-12">
        <h2><b>{{ post.title }}</b></h2>
        <h4>Written by: {{ post.author }}, {{ post.date | date: "%-d %b %y" }}</h4>
        <p>{{ post.excerpt }}</p>
        <p><a href = "{{ site.baseurl }}{{ post.url }}">Read more &rsaquo;</a></p>
    </div>
    {% endfor %}
</div>
</div>
<br /> <br />
<div class="row">
    <div class = "col">
        <h1 class = "allcaps">All insights</h1>
        <hr>
        {% for post in site.categories['insight'] %}
        <div class="col-12">
            <h4><b>{{ post.title }}</b></h4>
            <h6>Written by: {{ post.author }}, {{ post.date | date: "%-d %b %y" }}</h6>
            <p>{{ post.excerpt }}</p>
            <p><a href = "{{ site.baseurl }}{{ post.url }}">Read more &rsaquo;</a></p>
        </div>
        {% endfor %}
    </div>
</div>
