---
---

@import "{{ site.theme }}";

.page-header {
    color: #020010;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #83AAF8, #9BC0FA);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #FC5C93;
}

.main-content {
    color: white;
    background-color: #020010;
}