<!doctype html>
<html>
<head>
<meta charset="UTF-8">
    <title>{{ page.title }} - {{ site.title }} Docs</title>
    <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-1.2.2.min.css" />
    <link href="{{ site.baseurl }}/assets/images/x-unity-applet-desktop.png" rel="apple-touch-icon" />
    <link href="{{ site.baseurl }}/assets/images/x-unity-applet-desktop.png" rel="icon" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/x-unity-applet-desktop.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="author" content="{{ site.title }} Project Team" />
</head>

<body>
   <header id="navigation" class="p-navigation" role="banner">
  <div class="row">
    <div class="p-navigation__logo">
      <a class="p-navigation__link" href="{{ site.baseurl }}/wiki/">
        {{ site.title }} docs
      </a>
    </div>
    <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
    <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Menu</a>
    <nav class="p-navigation__nav">
      <span class="u-off-screen">
        <a href="#main-content">Jump to main content</a>
      </span>
      <ul class="p-navigation__links">
        <li class="p-navigation__link"><a href="{{ site.baseurl }}/about/">About</a></li>
        <li class="p-navigation__link"><a href="{{ site.baseurl }}/dl/">Download</a></li>
        <li class="p-navigation__link"><a href="{{ site.baseurl }}/wiki/">Wiki</a></li>
<li class="p-navigation__link"><a href="{{ site.baseurl }}/insights/">Insights</a></li>
      </ul>
    </nav>
  </div>
</header>

    <div class="wrapper">
        <div id="main-content" class="inner-wrapper">
	<br />            
	<div class = "row">
	<div class = "col-8">
	<h1>{{ page.title }}</h1>
	{{ content }}
	</div>	
	</div>
        </div>
    </div>
<footer class="p-footer" role="contentinfo">
<div class = "row">
<div class = "col-12">  
&copy; 2017 | {{ site.title }} Project team. Licensed under GNU GPL v3.
<nav role="navigation">
    <ul class="p-footer__links">
      <li class="p-footer__item">
        <a class="p-footer__link" href="http://www.github.com/enjade-project/">GitHub</a>
      </li>
      <li class="p-footer__item">
        <a class="p-footer__link" href="http://t.me/enjadeproject">Telegram</a>
      </li>
      <li class="p-footer__item">
        <a class="p-footer__link" href="mailto:ubunturox104@gmail.com">Email</a>
      </li>
    </ul>
    <span class="u-off-screen">
      <a href="#">Go to the top of the page</a>
    </span>
</div>
</div>
  </nav>
</footer>
</body>
</html>
