<!doctype html>
<html>
<head>
<meta charset="UTF-8">
    <title>{{ page.title }} - Enjade Project</title>
<link rel="stylesheet" type="text/css" media="screen" href="https://assets.ubuntu.com/v1/988cd866-ubuntu-styles.css">
<link rel="stylesheet" type="text/css" media="print" href="https://assets.ubuntu.com/v1/0df231d4-core-print.css">
<link rel="stylesheet" type="text/css" media="screen" href="https://assets.ubuntu.com/v1/126653c9-global-responsive.css">
<link rel = "stylesheet" href = "{{ site.baseurl }}/enjade.css">
</head>

<body>
    <header id = "banner" class="banner global" role="banner">
        <nav role="navigation" id = "nav" class="nav-primary nav-right">
            <div class="logo">
                <a href="/">
                    <h2>enjade &nbsp;</h2>
                </a>
            </div>
            <ul>
                <li class="accessibility-aid"><a accesskey="s" href="#main-content">Jump to content</a></li>
                <li><a class="first" href="#">About</a></li>
                <li><a href="#">Desktop</a></li>
                <li><a href="http://www.github.com/enjade-project">GitHub</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="{{ site.baseurl }}/FAQ">FAQ</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="wrapper">
        <div id="main-content" class="inner-wrapper">
            
            {{ content }}
            
        </div>
    </div>
    <footer class="global clearfix">
        <div class="legal clearfix">
            <p class="twelve-col">&copy; 2017 Enjade Project. Licensed under GNU GPL v3.</p>
            <ul class="inline clear">
                <li><a href="mailto:ubunturox104@gmail.com">Email maintainer</a></li>
                <li><a href="http://t.me/enjadeproject">Telegram group</a></li>
            </ul>
        </div>
        
        <span class="accessibility-aid"><a href="#">Go to the top of the page</a></span>
    </footer>
</body>
</html>
