---
layout: default
---
<nav role="navigation" class="nav-secondary clearfix">
    <ul class="breadcrumb">
        <li>About &nbsp;&rsaquo;</li>
    </ul>
    <ul class="second-level">
        <li><a href="{{ site.baseurl }}/about/">Overview</a></li>
        <li><a href="{{ site.baseurl }}/pure/">Pure</a></li>
        <li><a href="{{ site.baseurl }}/FAQ/">FAQ</a></li>
        <li class  = "active"><a href="{{ site.baseurl }}/contact/">Contact</a></li>
    </ul>
</nav>
<article class="page">
    {{ content }}
</article>
