---
layout: insights-default
---
<nav role="navigation" class="nav-secondary clearfix">
    <ul class="breadcrumb">
        <li><a href = "{{ site.baseurl }}/insights">Insights &nbsp;&rsaquo;</a></li>
        <li>{{ page.date | date: "%Y" }}&nbsp;&rsaquo;</li>
        <li>{{ page.date | date: "%B" }}&nbsp;&rsaquo;</li>
    </ul>
    <ul class="third-level">
        <li class = "active">{{ page.title }}</li>
    </ul>
</nav>
<div class = "row">
    <div class = "eight-col">
        <h1>{{ page.title }}</h1>
        <h6>Written by {{ page.author }} | {{ page.date | date: "%-d %B %Y" }}</h6>
        <p>
            {{ content }}
        </p>
    </div>
</div>
